h1,
.section,
#skills,
#contact {
    text-align: center;
}

.date {
    float: right;
}

body {
    background-color: #f8f4e1;
    width: 90%;
    margin-left: 5%;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400
}

h1 {
    color: #543310;
}

h2 {
    color: #74512d;
}

h3 {
    color: #af8f6f;
}